---
import { SiteMetadata } from '../config'
---

<div class="bg-white dark:bg-black">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="mt-16 flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-center">
        <a
          href={SiteMetadata.repository}
          class="flex w-full items-center justify-center rounded-md border border-transparent bg-primary-600 px-8 py-3 text-base font-medium text-white hover:bg-secondary-600 md:px-10 md:py-4 md:text-lg dark:bg-primary-300 dark:text-black dark:hover:bg-secondary-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          Get Started
        </a>
        <a
          href="/about"
          class="flex w-full items-center justify-center rounded-md border border-transparent bg-primary-100 px-8 py-3 text-base font-medium text-primary-800 hover:bg-secondary-200 md:px-10 md:py-4 md:text-lg dark:bg-primary-900 dark:text-primary-100 dark:hover:bg-secondary-900"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</div>
